body {
    text-align: center;
}
div {
    height: 100%;
    width: 100%;
    display: inline-block;
    border: 1px solid black;
    margin: none;
}
.shipArea {
    background-color: blue;
}
.selected {
    background-color: red;
}
#gridContainer {
    width: 300px;
    height: 300px;
    margin: auto;
}
#submit {
    margin-top: 20px;
}