body {
    text-align: center;
    background-color: #253E66;
}
div {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: none;
}
.shipArea {
    background-color: #EF6555;
}
/*Hit*/
.selected {
    background-color: red;
}
.miss {
    background-color: #E3DFD7;
}
.tiles {
    border: 1px solid #C29D4E;
}
.gridContainer {
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid #C29D4E;
}
#buttons {
    display: flex;
    justify-content: space-around;
}
#gridContainer2 {
    width: 300px;
    height: 300px;
    margin: auto;
}
#submit1 {
    margin-top: 20px;
    font-size: 20px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #C29D4E;
}
#submit2 {
    margin-top: 20px;
    font-size: 20px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #C29D4E;
}
#gameboards {
    display: flex;
}