body {
    text-align: center;
    background-color: #253E66;
    text-align: center;
}
div {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin: none;
}
button:Hover {
    transform: scale(1.01);
    transition: 0.3s;
}
.shipArea {
    background-color: #EF6555;
}
/*Hit*/
.selected {
    background-color: red;
}
.miss {
    background-color: #E3DFD7;
}
.tiles {
    border: 1px solid #C29D4E;
}
.scale {
    transition: 1s;
    transform: scale(1.1);
}
.normal {
    transition: 1s;
    transform: scale(1);
}
.gridContainer {
    width: 300px;
    height: 300px;
    margin: auto;
    border: 1px solid #C29D4E;
}
.block {
    width: 30px;
    height: 30px;
    border: 1px solid #C29D4E;
}
#buttons {
    display: flex;
    justify-content: space-around;
}
#gridContainer2 {
    width: 300px;
    height: 300px;
    margin: auto;
}
#submit1 {
    margin-top: 20px;
    font-size: 20px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #C29D4E;
}
#submit2 {
    margin-top: 20px;
    font-size: 20px;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #C29D4E;
    margin-bottom: 20px;
}
#blockHolder {
    margin-top: 60px;
    width: 700px;
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.message {
    font-size: 30px;
    width: 500px;
    background-color: #EF6555;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 30px;
}
#play {
    width: 300px;
    height: 60px;
    font-size: 50px;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}
.a1 {
    width: 50px;
    height: 50px;
    border: 1px solid violet;
    background-color: #E3DFD7;
}